{% extends 'base.html' %}

{% block conteudo %}
	<div class="page-title">
		<div class="title_left">
			<h3>Formulário de cadastro de pacientes</h3>
		</div>

		
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2><small>O asterísco (*) sinaliza que o campo é obrigatório </small></h2>
					
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br />
					<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" action=''>
						{% csrf_token %}
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="nome_completo">Nome Completo<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="nome-completo" type="text" id="nome-completo" required="required" class="form-control" data-parsley-error-message="Por favor, preencha este campo.">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align" for="telefone">Telefone<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="telefone" type="text" id="telefone" required="required" class="form-control" data-parsley-minlength="8" maxlength="11" data-parsley-type="digits" data-parsley-error-message="Insira um telefone válido.">
							</div>
						</div>
						<div class="item form-group">
							<label for="email" class="col-form-label col-md-3 col-sm-3 label-align">E-mail</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="email" id="email" class="form-control" type="email" class="email" data-parsley-error-message="Insira um e-mail válido.">
							</div>
						</div>
						<div class="item form-group">
							<label for="endereço" class="col-form-label col-md-3 col-sm-3 label-align">Endereço<span class="required">*</span>
							</label>	
							<div class="col-md-6 col-sm-6 ">
								<input name="endereço" id="endereço" class="form-control" type="text" required="required" placeholder="(rua, número, bairro) ex. Rua ABC, 123, Jardim DEF" data-parsley-error-message="Por favor, preencha este campo.">
							</div>
						</div>
						<div class="item form-group">
							<label for="cidade" class="col-form-label col-md-3 col-sm-3 label-align">Cidade<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="cidade" id="cidade" class="form-control" type="text" required="required" data-parsley-error-message="Por favor, preencha este campo.">
							</div>
						</div>
						<div class="item form-group">
							<label for="estado" class="col-form-label col-md-3 col-sm-3 label-align">Estado<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="estado" id="estado" class="form-control" type="text" required="required" data-parsley-error-message="Por favor, preencha este campo.">
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">Sexo</label>
							<div class="col-md-6 col-sm-6 ">
								<div id="sexo" class="btn-group" data-toggle="buttons">
									<label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input name="sexo" type="radio" id="masculino" value="M" class="join-btn" required="required"> &nbsp; Masculino &nbsp;
									</label>
									<label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input name="sexo" type="radio" id="feminino" value="F" class="join-btn" required="required"> Feminino
									</label>
								</div>
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">Data de nascimento<span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 ">
								<input name="data-nascimento" id="data-nascimento" class="date-picker form-control" placeholder="dd-mm-aaaa" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)" data-parsley-error-message="Por favor, preencha este campo.">
								<script>
									function timeFunctionLong(input) {
										setTimeout(function() {
											input.type = 'text';
										}, 60000);
									}
								</script>
							</div>
						</div>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<a href="#" class="btn btn-danger" type="button">Cancelar</a>
								<button class="btn btn-primary" type="reset">Limpar campos</button>
								<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock conteudo %}