{% extends 'base.html' %}

{% block conteudo %}
    	<div class="page-title">
			<div class="title_left">
				<h3>Formulário de Cadastro de operador</h3>
			</div>			
		</div>
       	<div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                       <div class="x_title">
                                 <h2>O asterísco (*) sinaliza que o campo é obrigatório</h2>
                                
                                <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form class="" action="" method="post" novalidate>
                                    {% csrf_token %}
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Nome<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" id="nome-completo" name="nome-completo" class="form-control" data-validate-length-range="6" data-validate-words="2" name="name" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Data de Nascimento<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="date" name="data-nascimento" id="data-nascimento" class="form-control" class='date' required='required'></div>
                                        </div>
                                          <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Telefone<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input name="telefone-operador" id="telefone-operador" class="form-control" type="number" class='number' name="number" required='required'></div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">E-mail<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" name="Email"  id="Email" class='Email' required="required" type="email" /></div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Login<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" name="usuario-operador"  id="usuario-operador" data-validate-length-range="6" data-validate-words="2" name="name" required="required" />
                                            </div>
                                        </div>                                      
                                        <div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Senha de acesso<span class="required">*</span></label>
											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="password" id="senha-operador" name="senha-operador" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character" required />
												
												<span style="position: absolute;right:15px;top:7px;" onclick="hideshow()" >
													<i id="slash" class="fa fa-eye-slash"></i>
													<i id="eye" class="fa fa-eye"></i>
												</span>
											</div>
										</div>
                                        
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Confirme a Senha<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" type="password" id="confirme-senha" name="confirme-senha" data-validate-linked='password' required='required' /></div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Clínica<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="clinica-id" name="clinica-id" data-validate-length-range="6" data-validate-words="2" name="name" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Observação<span class="required"></span></label>
                                            <div class="col-md-6 col-sm-6">
                                                <textarea required="required" id='obs' name='obs'></textarea></div>
                                        </div>
                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <a href="#" class="btn btn-danger" type="button">Cancelar</a>
                                                    <button class="btn btn-primary" type="reset">Limpar campos</button>
                                                    <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                    </div>       
                </div>
            </div>
        </div>
                           
{% endblock conteudo %}